<div class="nav">
	<div class="menu">
		<ul class="menu_ul">
			<li class="home_li" id="home_li">
				<i class="icon-home home"></i>
				<span class="home_info home_des"></span>
			</li>
			<li class="service_li" id="service_li">
				<i class="icon-file-alt"></i>
				<span class="home_info service_des"></span>
			</li>
			<li class="order_li" id="order_li">
				<i class="icon-list-alt"></i>
				<span class="home_info order_des"></span>
			</li>
			<li class="person_li" id="person_li">
				<i class="icon-group"></i>
				<span class="home_info person_des"></span>
			</li>
			<li class="sale_li" id="sale_li">
				<i class="icon-wrench"></i>
				<span class="home_info sale_des"></span>
			</li>
		</ul>
		<!--自助下单二级菜单-->
		<div class="server_order_menu">
			<ul class="server_order_ul">
				<li class="oem_server_menu">
					<i class="icon-file-alt"></i>
					<span class="oem_server_des"></span>
				</li>
				<li class="weld_server_menu">
					<i class="icon-file-alt"></i>
					<span class="weld_server_des"></span>
				</li>
			</ul>
		</div>

		<!--合同管理二级菜单-->
		<div class="order_contract_menu">
			<ul class="order_contract_ul">
				<li class="oem_contract_menu">
					<i class="icon-list-alt"></i>
					<span class="oem_contract_des"></span>
				</li>
				<li class="weld_contract_menu">
					<i class="icon-list-alt"></i>
					<span class="weld_contract_des"></span>
				</li>
			</ul>
		</div>

		<!--售后二级菜单-->
		<div class="sale_menu">
			<ul class="sale_ul">
				<li class="select_menu">
					<i class="icon-wrench"></i>
					<span class="select_des"></span>
				</li>
				<li class="oem-menu">
					<i class="icon-wrench"></i>
					<span class="oem_des"></span>
				</li>
				<li class="weld-menu">
					<i class="icon-wrench"></i>
					<span class="weld_des"></span>
				</li>
			</ul>
		</div>
	</div>
	<div class="footer_menu">
		<img src="../../img/qr_code.png" class="qr_code">
		<div class="des">
			<div class="chuang">
				<span class="yuan">创元智造</span>
				<p class="yuan2">自|助|下|单|平|台</p>
			</div>
			
		</div>
	</div>
</div> 
