<div class="contact_top">
	<div class="contact_inf">
		<div class="info_person">
			<div class="person">
				<p style="margin: 0 0 5px 0;">
					销售专员：&nbsp;韩&nbsp;&nbsp;&nbsp;&nbsp;光&nbsp;|&nbsp;<img src="../../img/phone.png" />&nbsp;18610215018&nbsp;<!--|&nbsp;<img src="../../img/qq.png" />&nbsp;800058249-->
				</p>
				<p style="margin: 0 0 5px 0;">
					品质专员：&nbsp;李强强&nbsp;|&nbsp;<img src="../../img/phone.png" />&nbsp;18301486696&nbsp;<!--|&nbsp;<img src="../../img/qq.png" />&nbsp;800058249-->
				</p>
			</div>
			<div class="complaints">
				<p style="margin: 0 0 5px 0;"> <span>产品投诉：&nbsp;全东明&nbsp;|&nbsp;<img src="../../img/phone.png" />&nbsp;18600628769</span></p>
			</div>
		</div>
		<div class="operation">
			<div class="user_operate">
				<span class="icon-fullscreen fullscreen" title="全屏展示" style="font-size: 18px;"></span>
				<span class="news" title="未处理信息">
					<img src="../../img/news.png" />
				</span>
				<div class="user_message" id="user_message">
					<span class="news head" title="用户头像"><!--展示头像--></span>
					<div class="name">
						<span class="user" id="user"></span>
					</div>
				</div>
				<div class="logout" id="login">
					<span class="news" title="用户登出">
						<span class="out">登出</span>
						<img src="../../img/logout.png" class="lot_img">
					</span>
				</div>
			</div>
			<div class="volume">
				<div class="volume_year">
					<div class="volume_year_data">
						<span class="data_year"><!--成交量数据--></span>
					</div>
					<div class="deal">
						<span>年成交量</span>
					</div>	
				</div>
				<div class="volume_mouth">
					<div class="volume_mouth_data">
						<span class="data_mouth"><!--成交量数据--></span>
					</div>
					<div class="deal">
						<span>月成交量</span>
					</div>	
				</div>
				<div class="volume_week">
					<div class="volume_week_data">
						<span class="data_week"><!--成交量数据--></span>
					</div>
					<div class="deal">
						<span>周成交量</span>
					</div>	
				</div>
				<!--<div class="search">
					<input type="text" class="search_table" placeholder="search ...">
					<button class="btn">
						<img src="../../img/sreach.png" class="sreach_img" >
					</button>
				</div>-->
				<div class="npay">
					<span>未支付金额</span>
					<span class="rmb">1000RMB</span>
				</div>
				<div class="new-pay">
					<img src="../../img/ram.png" class="pay1_img">
					<span class="now-pay1">立即支付</span>
				</div>
			</div>
		</div>
	</div>
</div>