<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>创元智造</title>
    <link rel="stylesheet" type="text/css" href="../../css/home.css">
    <link rel="stylesheet" type="text/css" href="../../css/nav.css">
    <link rel="stylesheet" type="text/css" href="../../css/footer.css">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="../../css/person.css">
    <link rel="shortcut icon" href="../cy.ico"/>
  </head>
  <body ng-app="" style="margin: 0; padding: 0;">
    <header class="header"  ng-include="'../include/top.html'"></header>
    <div class="dashboard-top-main">
         <nav ng-include="'../include/nav.html'"></nav>
         <footer ng-include="'person.html'"></footer>
    </div>
    <script type="text/javascript" src="../../js/angular.min.js"></script>
    <script type="text/javascript" src="../../js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/hammer.js"></script>
    <script type="text/javascript" src="../../js/cropper.min.js"></script>
    <script type="text/javascript" src="../../js/person.js"></script>
    <script type="text/javascript" src="../../js/haeder.js"></script>
    <script type="text/javascript" src="../../js/route.js"></script>
    <script type="text/javascript" src="../../js/distpicker.data.js"></script>
    <script type="text/javascript" src="../../js/distpicker.js"></script>
    <script type="text/javascript" src="../../js/main.js"></script>
  </body>
</html>