<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>云智造</title>
    <link rel="stylesheet" type="text/css" href="../css/protocol.css">
    <link rel="shortcut icon" href="cy.ico"/>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
  </head>
  <body>
    <div class="login">
    	<div class="logo">
    		<img src="../img/logo.png" style="height: 65px;">
    	</div>
        <section class="agreement">
            <div class="agreement_info">
                <div class="protocol">
                   <span>服务条款</span>
                </div>
                <div class="des_pro">
                   <p>&nbsp;&nbsp;&nbsp;&nbsp;
                        本协议详述您在云智造PCB(http://www.chuangyuan.com/)使用我们的服务所须遵守的条款和条件。如您有任何疑问，请及时联系我们。 
                   </p>
                   <p>&nbsp;&nbsp;&nbsp;&nbsp;
                        您注册成为云智造网站用户前，必须仔细阅读本用户协议和隐私声明，一旦您注册成为了云智造网站用户即表示您已经阅读、同意并接受本用户协议和隐私声明中所含的所有条款和条件。如果我们对本声明进行了任何变更，我们会在云智造网站页面上发布有关变更事项的通知，所有协议内容在发布之日后自动生效。如您不同意该修订，您必须终止您与云智造网站的用户关系。  
                   </p>
                </div>
                <div class="user_login">
                    <div class="loreg">
                        <span class="user_span">一、用户注册</span>
                    </div>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;
                        （1）用户资格：云智造网站用户必须是适用法律下能够签订具有法律约束力的合同的个人，在不限制前述规定的前提下，我们的服务不向16周岁 以下或被临时或无限期中止的用户提供。如您不合资格，请不要使用我们的服务，您的云智造网站帐户不得向其他方转让或出售，云智造网 站保留根据其意愿中止或终止您的帐户的权利。 
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;
                        （2）资料填写：为确保交易的正常进行，用户必须向云智造网站提供真实、有效的个人资料，如个人资料有任何变动，必须及时通知网站更新， 云智造网站用户同意接收来自云智造网站或者其合作伙伴发出的邮件、信息。云智造网站设有适用于所有用户并纳入用户协议的隐私声明。您应当在注册时阅读并接受隐私声明以使用云智造网站，且您在作为云智造网站用户期间将继续受其规定（及云智造网站对隐私声明作出的任何修订）的约束。 
                    </p>
                </div>
                <div class="user_privacy">
                    <div class="privacy">
                        <span class="user_span">二、隐私</span>
                    </div>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;
                        （1）个人数据资料，包括个人识别资料：如姓名、性别、年龄、出生日期、身份证号码（或护照号码）、电话、通信地址、住址、电子邮件地址等情况；个人背景：职业、教育程度、收入状况、婚姻、家庭状况。在未经您同意及确认之前，云智造网站不会将您的资料用于其它目的。 
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;
                        （2）使用非个人信息。云智造网站将通过您的IP地址来收集非个人化的信息，包括您的浏览器性质、操作系统种类、给您提供接入服务的ISP的域名等，以优化在您计算机屏幕上显示的页面。通过收集上述信息，我们亦进行客流量统计，从而改进网站的管理和服务。
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;
                        （3）个人数据安全。云智造网站采用安全性的服务器使用控制设备保护保护您的个人数据。
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;
                        （4）个人数据披露和限制利用。当国家机构依照法定程序要求云智造网站披露个人资料时，将根据执法单位的要求或为公共安全目的提供个人资料。在此情况下披露的任何内容，云智造网站不承担任何责任。云智造网站在符合下列条件时，对个人资料进行必要范围以外利用：已取得您的书面同意；为免除您在生命、身体或财产方面之急迫危险；为防止他人权益之重大危害；为增进公共利益，且无害于您的重大利益。
                    </p>
                </div>
                <div class="user_transact">
                    <div class="transact">
                        <span class="user_span">三、交易</span>
                    </div> 
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;
                        用户在云智造网站进行物品购买时必须遵守以下条款：
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;
                        （1）您应就您使用云智造网站的服务及对物品购买遵守所有适用的中国法律、法规、条例和地方性法律要求。您还必须确保您遵守本用户协议和隐私声明及纳入上述文件的所有其它条款和规则的所有规定。
                    </p>
                     <p>&nbsp;&nbsp;&nbsp;&nbsp;
                        （2）如您在云智造网站购买物品，您有义务完成与云智造网站的交易，但法律或本用户协议禁止的交易除外。通过对一项物品的下订单，您同意受该物品描述所含的出售条件的约束，只要该等出售条件不违反本协议或不是非法的。 
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;
                        （3）云智造网站上的广告，价目表和声明并不构成要约。云智造网站有权在发现了云智造网站上显现的产品及订单的明显错误或缺货的情况下，单方面撤回该信息或撤销合同。云智造网站保留对产品订购的数量的限制权。在下订单的同时，您也同时承认了您已经达到购买这些产品的法定年龄，并将对您在订单中提供的所有信息的真实性负责
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;
                        （4）产品价格和可获性都在网站上指明。这类信息将随时更改且不发任何通知。送货费将另外结算，费用根据您选择的送货方式的不同而异。如果发生了意外情况，在确认了您的订单后，由于供应商提价，税额变化引起的价格变化，或是由于网站的错误等造成价格变化，云智造网站会通过email或电话通知您，在云智造网站没有取消订单的情况下，让您决定是否取消订单。
                    </p>
                </div>
                <div class="user_quality">
                    <div class="quality">
                        <span class="user_span">四、物品质量与售后服务</span>
                    </div>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;
                        （1）详见售后服务 
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;
                        （2）物品的质量，有国家标准或专业标准的，按国家标准或专业标准执行；无前述标准的，按生产厂的企业标准执行；无生产厂企业标准的，由用户与云智造网站协商确定。如果物品质量不符合标准，用户可以要求换货或退货。
                    </p>
                </div>
                <div class="user_security">
                    <div class="security">
                        <span class="user_span">五、网站安全</span>
                    </div>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;
                        您同意，未经云智造网站明示书面准许，您不会为了任何目的使用任何机器人、蜘蛛软件、刷屏软件或其他自动方式进入网站。此外，您同意您将不会：  
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;
                        （1）进行任何对云智造网站造成或可能造成（按云智造网站自行酌情确定）不合理或不合比例的重大负荷的行为；
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;
                        （2）未经云智造网站事先明示书面准许，对网站的任何内容（除您的个人信息以外）制作拷贝、进行复制、修改、制作衍生作品、分发或公开展示； 
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;
                        （3）干扰或试图干扰网站的正常工作或网站上进行的任何活动；
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;
                        （4）在网站中使用违反适用的法律法规下可能视为被禁止或可能被禁止的任何内容；
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;
                        （5）对网站使用包含可能破坏、改变、删除、不利影响、秘密截取、未经授权而接触或征用任何系统、数据或个人资料的任何病毒、特洛依木马、蠕虫、定时炸弹、删除蝇、复活节彩蛋、间谍软件或其他电脑程序。
                    </p>
                </div>
                <div class="user_property">
                    <div class="property">
                        <span class="user_span">六、知识产权</span>
                    </div>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;
                        云智造网站所提供的网络服务的相关著作权、专利权、商标、商业秘密及其它任何所有权或权利，均属云智造网站所有。  
                    </p>
                </div>
                <div class="user_liability">
                    <div class="liability">
                        <span class="user_span">七、免责声明</span>
                    </div> 
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;
                        云智造网站所提供的网络服务的相关著作权、专利权、商标、商业秘密及其它任何所有权或权利，均属云智造网站所有。  
                    </p>
                </div>
                <div class="user_others">
                    <div class="others">
                        <span class="user_span">八、其他</span>
                    </div>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;
                        云智造网站所提供的网络服务的相关著作权、专利权、商标、商业秘密及其它任何所有权或权利，均属云智造网站所有。  
                    </p>
                </div>
            </div>
        </section>
    	<div class="describe">
    		<p>创元成业电子科技有限公司</p>
    	</div>
    </div>
  </body>
</html>
